<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:fragment="admin_add_button(title, popup_id, endpoint)" style="display: inline-block">
    <button th:if="${isAdmin}" th:class="${popup_id}" style="font-size: 8px" th:text="'add ' + ${title}">add</button>
    <div class="myPopup" th:id="'myPopup__' + ${popup_id}">
        <div class="content">
            <h3 th:text="${title}"></h3>
            <input id="myPopup__input" />
            <button id="myPopup__save"  th:attr="data-endpoint = ${endpoint}">SAVE</button>
            <span id="myPopup__close" class="close">✖</span>
        </div>
    </div>
    <div id="myOverlay"></div>
</span>
</html>