<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article">
    <h1 class="Middle-title" th:text="${author}">Борис Васильевич Бедный
    </h1>
    <span th:replace="~{fragments/edit_button_for_admin :: admin_edit_button(title='Author name', popup_id='author_name', endpoint = '/authors/' + ${author.slug} + '/name', isTextarea = false)}"></span>
    <article class="Article">
        <div class="sdf">
        </div>
        <div class="Spoiler" th:with="start = ${#strings.length(author.description) > 100 ? #strings.substring(author.description, 0, 100) : author.description},
                     end = ${#strings.length(author.description) > 100 ? #strings.substring(author.description, 100, #strings.length(author.description)) : null}">
            <div class="Spoiler-visible">
                <div class="pict pict_left">
                    <form id="imgForm" th:if="${isAdmin}" th:action="${'/authors/' + author.slug + '/img/save'}" method="post" enctype="multipart/form-data">
                        <img th:src="${author.photo}" alt="card.jpg" id="uploadButton"/>
                        <input type="file" name="file" id="dialog" style="display: none" accept="image/*">
                    </form>
                </div>
                <div>
                    <h2 th:text="#{authors.biography}">Биография
                    </h2>
                    <p th:text="${start}">Борис Бедный родился в семье учителя в 1916 году в станице Ярославская Краснодарского
                        края. Окончил Майкопский лесной техникум и был послан учиться в Ленинградскую
                        лесотехническую академию. Стал специалистом по сплаву леса и приехал в Республику Коми,
                        работать на сплавных предприятиях.
                    </p>
                </div>
            </div>
            <div class="Spoiler-hide">
                <p th:text="${end}">"Писать он начал до войны, в академии,- рассказал о нем в предисловии к книге "Первое дело"
                    поэт К.Ваншенкин.- Был участником литературных кружков и студий. Но всерьез вернулся к этому
                    в сорок шестом, в далекой сплавконторе, на Трехозерной запани. Печатался в Коми
                    республиканской газете "За новый Север" ("Красное знамя") и наконец решился вновь переломить
                    судьбу, поступив в Литературный институт" в 1952г.
                </p>
            </div>
            <span th:replace="~{fragments/edit_button_for_admin :: admin_edit_button(title='Author Biography', popup_id='author_description', endpoint = '/authors/' + ${author.slug} + '/description', isTextarea = true)}"></span>
            <div class="Spoiler-footer">
                <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" th:attr="data-showtext=#{buttons.collapse}, data-hidetext=#{buttons.show}"
                        >
                </button>
            </div>
        </div>
    </article>
</div>
</html>