<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool(category)">

    <div class="Card" th:each="book : ${booksData}">
        <div class="Card-picture"><a href="#"><img th:src="${book.image}" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:text="${book.title}">Title</a>
            </strong>
            <div class="Card-description" th:text="${book.author}"> Author
            </div>
            <div class="Card-description" th:if="${category == 'recent'}" th:with="df=#{date.format}" th:text="${#dates.format(book.pubDate, df)}"> Pub Date
            </div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:text="'₽' + ${book.price}">₽300.00</span>
                <span class="Card-price" th:if="${book.discount != 100}" th:text="'₽' + ${book.getDiscountPrice()}">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center">
        <a class="btn btn_primary" href="#"
           th:attr="data-refreshshow = ${category}, data-refreshquery = ${searchWordDto}, data-refreshid = ${id}"
           th:text="#{footer.more}" data-refreshshow="recent" data-refreshoffset="0" data-refreshlimit="5">Показать еще</a>
    </div>
</div>
</html>