<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bookReviewSending">
    <strong class="Comments-title" th:text="#{books.write-review}">Написать отзыв
    </strong>
    <div class="Comments-addComment">
        <form class="form" action="#" method="post" th:attr="data-bookid=${book.slug}">
            <div class="form-group">
                                <textarea class="form-textarea Comments-review" name="review" id="review"
                                          th:placeholder="#{books.review-text-placeholder}" data-validate="require"></textarea>
            </div>
            <div class="form-group Comments-sendReview">
                <button class="btn btn_warning" type="submit" th:text="#{books.send-review}">Отправить отзыв
                </button>
            </div>
        </form>
    </div>
</div>
</html>