<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="panel">
    <div class="ProductCard-cart" th:if="${!paid}">
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1111]"
                    th:attr="data-bookid = ${book.slug}"
                    data-btntype="check" data-btnradio="buyblock" data-check="false"
                    data-alttext="Отложена"><span class="btn-icon"><img
                    src="/assets/img/icons/heart.svg" alt="heart.svg"/></span><span
                    class="btn-content" th:text="#{buttons.postpone}">Отложить</span>
            </button>
        </div>
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="CART" data-bookid="[1111]"
                    th:attr="data-bookid = ${book.slug}"
                    data-btntype="check" data-btnradio="buyblock" data-check="false"
                    data-alttext="В корзине"><span class="btn-icon"><img
                    src="/assets/img/icons/shopping-basket.svg"
                    alt="shopping-basket.svg"/></span><span class="btn-content" th:text="#{buttons.buy}">Купить</span>
            </button>
        </div>
    </div>
    <div class="ProductCard-cart" th:if="${paid}">
        <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline" href="#"><span
                class="btn-icon"><img src="/assets/img/icons/download.svg"
                                      alt="download.svg"/></span><span
                class="btn-content" th:text="#{buttons.download}">Скачать</span></a>
        </div>
        <div class="ProductCard-cartElement" >
            <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED"
                    th:attr="data-bookid = ${book.slug}"
                    data-bookid="[1111]" data-btntype="check" data-btnradio="buyblock"
                    data-check="false" data-alttext="Вернуть из архива"><span class="btn-icon"><img
                    src="/assets/img/icons/archive.svg" alt="archive.svg"/></span><span
                    class="btn-content" th:text="#{buttons.to-the-archive}">В архив</span>
            </button>
        </div>
    </div>

    <div id="myPopup" class="myPopup">
        <p th:text="#{book.download-links}"></p>
        <div th:each="bookFile : ${book.getBookFileList()}">
            <a th:href="${'/books/download/' + bookFile.hash}" th:text="${bookFile.getBookFileExtensionString()}"></a>
        </div>
        <span id="myPopup__close" class="close">✖</span>
    </div>
    <div id="myOverlay"></div>
</div>
</html>